* {
    margin: 0;
    outline: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica', ;
}

html, body {
    width: 100%;
    height: 100%;
    background: #fff;
    text-align: center;
}

/* ========== */

/* LEFT - APP */

/* ========== */

#app {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
    background: var(--background);
    justify-content: center;
    align-items: center;
}

.box {
    margin: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem;
}

#generate {
    padding: 12px;
    background: green;
    color: #fff;
    margin-bottom: 3rem;
}