html {
    width: 100%;
    height: 100%;
    font-family: 'Sen', sans-serif;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Sen', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 4fr 1fr;
    grid-gap: 1rem;
    background: #fff;
    color: #fff;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #2b1a5f;
    grid-column: span 2;
}

aside {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #3d1c74;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #452587;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #6f47e3;
    grid-column: span 2;
}